@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Roboto:wght@400;700;900&family=Source+Sans+Pro:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategrey;
}

.slider {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slider__content {
    margin: 0 40px;
    padding: 45px 20px;
    border-radius: 25px;
    overflow: hidden;
}

.slider__card {
    width: 320px;
    background: red;
    border-radius: 25px;
}

.card__img-content,
.card__content {
    display: flex;
    flex-direction: column;;
    align-items: center;
    padding: 10px 14px;

}

.card__img-content {
    position: relative;
    padding: 25px 0;
    row-gap: 5px
}

.card__image-block {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    padding: 3px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 25px 25px 0 25px;


}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    right: 0;
    bottom: -40px;

}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: red;

}

.card__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid sienna;
}

.card__name {
    fonst-size: 18px;
    font-weight: 500;
    color: sienna
}

.card__description {
    font-weight: 14px;
    color: darkblue;
    text-align: center;
}

.card__button {
    border: none;
    font-size: 16px;
    color: darkred;
    padding: 8px 16px;
    background-color: darkslategrey;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.card__button:hover {
    background-color: plum;
}